#logout {
  text-decoration: none;
  color: black;
}

.dashboard {
  background-color: rgb(245, 245, 245);
  height: 100vh;
  text-align: center;
}

.top {
  background-color: white !important;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  position: relative;
  /* right: 400%; */
}

.navbar .pfp {
  position: relative;
  /* left: 300%; */
}

.mini {
  color: black !important;
}