form {
  border-radius: 10%;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 40vh;
  /* border: .5px solid black; */
}

.form-button {
  border-radius: 0 !important;
  color: black !important;
  border: none !important;
  background-color: rgb(217, 217, 217) !important;
  width: 330px;
  height: 40px;
  padding: 12px;
}

.form-inner p {
  color: rgb(147, 147, 147);
  font-size: 12px;
}

.login {
  height: 30px;
}

.login a {
  margin: auto;
  text-decoration: none;
  color: black;
}

.login a:hover {
  color: black;
}

.message {
  text-align: center;
  font-size: 12px;
}