.error {
  color: red;
  width: fit-content;
  padding: 7px;
  position: relative;
  top: 10px;
}

h2 {
  text-align: center;
}

button.form-button {
  width: 100%;
  position: relative;
  top: 5px; 
  border: 2px solid green;
  padding: 10px
}

form {
  border-radius: 10%;
  padding: 60px;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 20vh;
  /* border: 2px solid black; */
}

.form-group {
  text-align: center;
}

.btn-css {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #d3d3d4;
  padding: 12px;
}

.form-button {
  border-radius: 2px;
  color: white;
  background-color: #5ea85e !important;
  border: 1px solid #5ea85e !important;
}
.g-recaptcha {
}

* {
  margin: 0;
  padding: 0;
}

